.ipynb_checkpoints
Tema 3/agenda_digital.txt
Tema 7/df_personas.*
Tema 7/mi_grafica.png
Proyectos finales/2. Deteccion de SPAM con Machine Learning/data
Proyectos finales/2. Deteccion de SPAM con Machine Learning/delay
Proyectos finales/2. Deteccion de SPAM con Machine Learning/full
Proyectos finales/2. Deteccion de SPAM con Machine Learning/partial